@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap');

:root{
    --outline-color: rgb(154, 152, 152);
    --focus-outline: rgb(35, 171, 244);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins',sans-serif;

}
html{
    font-size: 62.5%;
}

.container{
    width: 100%;
    height: 100%;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: aquamarine;
}
.left-header{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -2rem;
}

.right-header{
    height: 100%;
    width: 15%;
}
.left-header i{
    font-size: 2rem;
    /* margin-left: 1rem; */
}
.left-header img{
    height: 2rem;
    width: 12rem;
    object-fit: contain;
    margin-right: 6rem;
}
.center-header{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -8rem;
}
.center-header .search{
    height: 4rem;
    width: 54rem;
    background-color: #fff;
    border: var(--outline-color) solid .1rem;
    position: relative;
}
.center-header .search input{
    width: 53.8rem;
    height: 3.8rem;
    padding-left: 1rem;
    font-size: 1.4rem;
}
.center-header .search input:focus{
    padding-right: 4rem;
}

.center-header .search i{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--outline-color);
}
.center-header .icon-search{
    font-size: 2rem;
    padding: 0.9rem 1.9rem;
    cursor: pointer;
    border: .1rem solid var(--outline-color);
    border-left: none;
    color: var(--outline-color);
    background-color: rgb(200, 198, 197);
}
.center-header .icon-mic
