@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap');

:root{
    --outline-color: rgb(154, 152, 152);
    --focus-outline: rgb(35, 171, 244);

}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins',sans-serif;

}
html{
    font-size: 62.5%;
}

body{
    padding: 0 0rem;
}

.container{
    width: 100%;
    height: 100%;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    /* background-color: aquamarine; */
}
.left-header{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -2rem;
}

.right-header{
    height: 100%;
    width: 15%;
}
.left-header i{
    font-size: 2rem;
    margin-left: 4rem;
}
.left-header a{
    height: 2rem;
    width: 12rem;
    display: block;
}
.left-header a img{
    height: 2rem;
    width: 12rem;
    object-fit: contain;
    margin-right: 6rem;
    margin-left: -2rem;

}
.center-header{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
}
.center-header .search{
    height: 4rem;
    width: 58rem;
    background-color: #fff;
    border: var(--outline-color) solid .1rem;
    position: relative;
    margin-left: -4rem;
    position: relative;
}
.center-header .search input{
    width: calc(100% - 0.2rem );
    height: 3.8rem;
    padding-left: 4rem;
    font-size: 1.4rem;
}


.center-header .search .icon-search-none{
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2rem;
    display: none;
}
.center-header .search .keyboard{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--outline-color);
    cursor: pointer;
}

/* search_Modal */

.search_modal {
    width: 100%;
    height: 30rem;
    box-shadow: .01rem .01rem .1rem gray, -.01rem -.01rem .1rem gray;
    position: absolute;
}
.search_modal .search_modal_item:nth-child(1){
    width: 100%;
    height: 3rem;
    background-color: gray;
    margin-top: 2rem;
}
.search_modal .search_modal_item{
    width: 100%;
    height: 3rem;
    background-color: gray;
    display: flex;
    align-items: center;
}
.search_modal .search_modal_item i{
    font-size: 1.6rem;
    padding: 0 1.2rem;
}
.search_modal .search_modal_item span{
    font-size: 1.5rem;
    font-weight: 400;
}
.search_modal .search_modal_item:hover{
    background-color: ;
}

.center-header .icon-search{
    font-size: 2rem;
    padding: 0.9rem 1.9rem;
    cursor: pointer;
    border: .1rem solid var(--outline-color);
    border-left: none;
    color: var(--outline-color);
    background-color: rgb(237, 235, 234);
}
.center-header .icon-mic{
    font-size: 1.8rem;
    margin-left: 2rem;
    padding: 1rem 1.2rem;
    background-color: rgb(237, 235, 234);
    border-radius: 50%;
    cursor: pointer;
}
.right-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}
.right-header .create{
    cursor: pointer;
}
.right-header .notifi{
    position: relative;
}
.right-header .notifi span{
    font-size: 1.1rem;
    position: absolute;
    color: #fff;
    background-color: red;
    display: block;
    top: -.4rem;
    right: -1.4rem;
    border-radius: 1rem;
    padding: .0 .4rem;
}
.right-header .user h4{
    padding: .4rem 1rem;
    background-color: rgb(244, 148, 22);
    font-size: 1.6rem;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}
/* Contaner Fulid */
.container-fullid{
    margin-top: 7rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.nav-bar{
    width: 15%;
    height: 100%;
    margin-top: 2rem;
}

.nav-bar .nav-bar-list li{
    list-style-type: none;
    width: 100%;
    height: 4rem;
    /* border: .1rem solid var(--outline-color); */
}
.nav-bar-link .active{
    background-color: rgb(214, 214, 215);
}
.nav-bar-link{
    display: bock;
    height: 4rem;
    width: 100%;
    color: #000;
    font-size: 1.6rem;
    text-decoration: none;
}
.nav-bar-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    /* color: var(--outline-color) */
}
.nav-bar-box .icon-nav{
    width: 4rem;
}
.nav-bar-box .nav-bar-text{
    width: 80%;
    font-size: 1.4rem;
}
.nav-bar-link .nav-bar-box:hover{
    background-color: rgb(238, 238, 239);;
}
.row{
    width: 100%;
    height: .1rem;
    background-color: var(--outline-color);
    margin-top: 1rem;
}
.Subrice{
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-left: 2rem;
    color: rgb(165, 165, 165);
}
.nav-bar-box img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-left: 0rem;
}
.nav-bar-content{
    width: 80%;
    font-size: 1.4rem;
    margin-left: 2rem;
}

.main-body{
    width: 70%;
    height: 100%;
}

