@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins',sans-serif;

}
html{
    font-size: 62.5%;
}
body{
    padding: 0 1%;
}
/* .container{
    width: 100%;
    height: 100%;
} */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: aquamarine;
}
.left-header{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-header{
    height: 100%;
    width: 15%;
}
.left-header i{
    font-size: 2rem;
    margin-left: 1rem;
}
.left-header img{
    height: 2rem;
    width: 12rem;
    object-fit: contain;
    margin-right: 6rem;
}
.center-header{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    height: 4rem;
    width: 15rem;
}
.search input{
    height: 100%;
    width: 100%;
    display: bloc;
}